version: "3.8"

services:
  postgres:
    image: postgres:15.1
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: <your-db-name>
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
